<div class="modal-header page">
    <h3>{{ 'found_other_part_of_system' | translate}}</h3>
</div>
<div class="modal-body page">
    <h4>{{ 'found_other_part_of_system_add' | translate}}</h4>
    <div class="row">
        <form name="form">
            <div class="input-group col-md-12">
                <ui-select ng-model="model.selectedReason" 
                        theme="select2"
                        ng-required="true"
                        name="reasonSelect"
                        id="reasonSelect"
                        style="width:100%">
                    <ui-select-match allow-clear="true" class="form-control-ui-select" placeholder="{{'select_reason' | translate}}">{{$select.selected.displayName  || $select.selected}}</ui-select-match>
                    <ui-select-choices  repeat="reason in reasons">
                        <span ng-bind-html="reason.displayName"></span>
                    </ui-select-choices>
                </ui-select>  
                <div class="error-text" ng-show="form.$submitted && form.reasonSelect.$invalid">{{'required'| translate}}</div>
            </div>
            <br/>
            <div class="input-group col-md-12">
                <textarea ng-if="model.selectedReason.id===textAreaReasonID" id="reasonSpecify" name="reasonSpecify" class="form-control" ng-required="true" rows="4" ng-model="model.specifiedReason"></textarea>
                <div class="error-text" ng-show="form.$submitted && form.reasonSpecify.$invalid">{{'required'| translate}}</div>
            </div>         
        </form>
</div>

</div>
<div class="modal-footer">
    <button class="btn btn-default" data-ng-click="cancel()">{{'cancel' | translate}}</button>
    <button class="btn btn-primary" data-ng-click="open()" ng-disabled="openDisabled">{{'open_patient_file' | translate}}</button>
</div>